a{
    text-decoration: none;
    
}

.links:hover{
    background-color: red;
}

.links{
    border: 5px;
    padding: 10px;
    color: black;
    
}


.page-link{
    margin: 5px;
    display: inline-block;
    color: black;
}


#page-menu{
    list-style: none;
    text-decoration-style: none;
    
}


.foto{
    width: 100%;
    border-style: solid
    
}

.info{
    border-style: solid;
    margin: 0pt;
    width: 100%;
}

#opdrachten-1, #opdrachten-2, #opdrachten-3 {
    list-style: none;
}

.home-page-return {
    display: block;
    border-style: solid;
}

.home-page-return>a{
    margin: 10px ;
}

