.links:hover{
    background-color: blue;
}
.links{
    text-decoration: none;
    padding: 8px;
    color: black;
    background-color: red;
    border: solid;
}



.links:target{
    display: block;
}

.page-link{
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    color: black;
    background-color: none;
    border: solid;
    background-color: red;

}


#page-menu{
    padding: 0pt;
    list-style: none;
    text-decoration-style: none;
    border: gray;
    
}

.page-link:hover{
    background-color: red;
    display: inline-block;
}


.foto{
    width: 100%;
    border-style: solid
    
}

.info{
    border-style: solid;
    margin: 0pt;
    width: 100%;
}

#opdrachten-1, #opdrachten-2, #opdrachten-3 {
    list-style: none;
}

.home-page-return>a:hover{
    background-color: red;
}

.home-page-return {
    display: block;
    border-style: solid;
}

.home-page-return>a{
    margin: 10px;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: red;
}

.a:hover{
    background-color: red;
}

.kleine-uitleg{
    border-style: solid;
}

.blog-links, .opdrachten-links{
    color: red;
}
